@model Skils
@{
    ViewData["Title"] = "UpdateSkils";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="main-panel">
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Yetenekler</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Yetenek Güncelleme Sayfası</div>
					</div>
					<div class="card-body">


						<form method="post">
                            <input type="hidden" asp-for="SkilsId" />						
							<label>Yetenek Adı</label>
							<input type="text" asp-for="Title" class="form-control"></>
							<br />
							<label>Yetenek Değeri</label>
							<input type="text" asp-for="Value" class="form-control"></>
							<br />
							<button type="submit" class="btn btn-primary">Yetenek Güncelle</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>



