@model Portofilo
@{
    ViewData["Title"] = "UpdatePortfolyo";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="main-panel">
	<div class="content">
		<div class="container-fluid">
			<h4 class="page-title">Portfolyo</h4>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Portfolyo Güncelleme Sayfası</div>
						</div>
						<div class="card-body">

							<form method="post">
								<input type="hidden" asp-for="PortofiloId" class="form-control" />
								<label>Başlık</label>
								<input type="text" asp-for="Title" class="form-control" />
								<br />
								<label>Alt Başlık</label>
								<input type="text" asp-for="SubTitle" class="form-control" />
								<br />
								<label>Resim Yolu</label>
								<input type="text" asp-for="ImageUrl" class="form-control" />
								<br />
								<label>Url</label>
								<input type="text" asp-for="Url" class="form-control" />
								<br />
								<label>Açıklama</label>
								<input type="text" asp-for="Desc" class="form-control" />
								<br />
								<button class="btn btn-warning">Portfolyo Güncelle</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


